// Custom styles.
//修改选中文本背景色，因为是黑色与代码块的默认和黑色冲突，导致看不出来是否选中代码了。
::selection {
  background: #3194d0;
  color: #fff;
}
//去掉头像边框
.site-author-image {
    border: none;
}
.site-author-image {
  display: block;
  margin: 0 auto;
  padding: $site-author-image-padding;
  max-width: $site-author-image-width;
  height: $site-author-image-height;
  border: $site-author-image-border-width solid $site-author-image-border-color;
 // 修改头像边框
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  // 设置旋转
  transition: 2s all;
}
// 可旋转的圆形头像,`hover`动作
.site-author-image:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -transform: rotate(360deg);
}
//代码块自定义
code {
    color: #c7254e;
    background: #f6f6f6;
    margin: 2px;
}
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}